@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.overlay {
   background-image: url('./assets/images/heroBgOverlay.png');
   background-position: center;
   background-repeat: no-repeat;
}